In [1]:
import pandas as pd

In [2]:
train_data=pd.read_csv('D:\\Kaggle Projects\\Disaster tweets\\train.csv')

In [3]:
train_data.head(20)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1
10,16,NaN,NaN,Three people died from the heat wave so far,1
11,17,NaN,NaN,Haha South Tampa is getting flooded hah- WAIT ...,1
12,18,NaN,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,1
13,19,NaN,NaN,#Flood in Bago Myanmar #We arrived Bago,1
14,20,NaN,NaN,Damage to school bus on 80 in multi car crash ...,1
15,23,NaN,NaN,What's up man?,0
16,24,NaN,NaN,I love fruits,0
17,25,NaN,NaN,Summer is lovely,0
18,26,NaN,NaN,My car is so fast,0
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0

In [4]:
train_data['text'][7608]

'Two giant cranes holding a bridge collapse into nearby homes http://t.co/STfMbbZFB5'

In [5]:
'collapse' in list(train_data['keyword'].unique())

True

In [6]:
train_data.tail(70)

,id,keyword,location,text,target
7543,10784,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...,1
7544,10785,wrecked,"Brooklyn, NY",Wrecked an hour on YouTube with @julian_lage @...,0
7545,10786,wrecked,Robin Hood's County,late night mcdonalds with friends = hilarious ...,0
7546,10787,wrecked,NaN,good luck to everyone who has school soon but ...,0
7547,10788,wrecked,United States,I wonder how times someone has wrecked trying ...,0
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [7]:
train_data.shape

(7613, 5)

In [8]:
dis1=train_data['keyword'].unique().tolist()

In [9]:
#at 0th index we got nan so we remove it using pop
dis1.pop(0)
dis1

['ablaze',
 'accident',
 'aftershock',
 'airplane%20accident',
 'ambulance',
 'annihilated',
 'annihilation',
 'apocalypse',
 'armageddon',
 'army',
 'arson',
 'arsonist',
 'attack',
 'attacked',
 'avalanche',
 'battle',
 'bioterror',
 'bioterrorism',
 'blaze',
 'blazing',
 'bleeding',
 'blew%20up',
 'blight',
 'blizzard',
 'blood',
 'bloody',
 'blown%20up',
 'body%20bag',
 'body%20bagging',
 'body%20bags',
 'bomb',
 'bombed',
 'bombing',
 'bridge%20collapse',
 'buildings%20burning',
 'buildings%20on%20fire',
 'burned',
 'burning',
 'burning%20buildings',
 'bush%20fires',
 'casualties',
 'casualty',
 'catastrophe',
 'catastrophic',
 'chemical%20emergency',
 'cliff%20fall',
 'collapse',
 'collapsed',
 'collide',
 'collided',
 'collision',
 'crash',
 'crashed',
 'crush',
 'crushed',
 'curfew',
 'cyclone',
 'damage',
 'danger',
 'dead',
 'death',
 'deaths',
 'debris',
 'deluge',
 'deluged',
 'demolish',
 'demolished',
 'demolition',
 'derail',
 'derailed',
 'derailment',
 'desolate',
 'desolation',
 'destroy',
 'destroyed',
 'destruction',
 'detonate',
 'detonation',
 'devastated',
 'devastation',
 'disaster',
 'displaced',
 'drought',
 'drown',
 'drowned',
 'drowning',
 'dust%20storm',
 'earthquake',
 'electrocute',
 'electrocuted',
 'emergency',
 'emergency%20plan',
 'emergency%20services',
 'engulfed',
 'epicentre',
 'evacuate',
 'evacuated',
 'evacuation',
 'explode',
 'exploded',
 'explosion',
 'eyewitness',
 'famine',
 'fatal',
 'fatalities',
 'fatality',
 'fear',
 'fire',
 'fire%20truck',
 'first%20responders',
 'flames',
 'flattened',
 'flood',
 'flooding',
 'floods',
 'forest%20fire',
 'forest%20fires',
 'hail',
 'hailstorm',
 'harm',
 'hazard',
 'hazardous',
 'heat%20wave',
 'hellfire',
 'hijack',
 'hijacker',
 'hijacking',
 'hostage',
 'hostages',
 'hurricane',
 'injured',
 'injuries',
 'injury',
 'inundated',
 'inundation',
 'landslide',
 'lava',
 'lightning',
 'loud%20bang',
 'mass%20murder',
 'mass%20murderer',
 'massacre',
 'mayhem',
 'meltdown',
 'military',
 'mudslide',
 'natural%20disaster',
 'nuclear%20disaster',
 'nuclear%20reactor',
 'obliterate',
 'obliterated',
 'obliteration',
 'oil%20spill',
 'outbreak',
 'pandemonium',
 'panic',
 'panicking',
 'police',
 'quarantine',
 'quarantined',
 'radiation%20emergency',
 'rainstorm',
 'razed',
 'refugees',
 'rescue',
 'rescued',
 'rescuers',
 'riot',
 'rioting',
 'rubble',
 'ruin',
 'sandstorm',
 'screamed',
 'screaming',
 'screams',
 'seismic',
 'sinkhole',
 'sinking',
 'siren',
 'sirens',
 'smoke',
 'snowstorm',
 'storm',
 'stretcher',
 'structural%20failure',
 'suicide%20bomb',
 'suicide%20bomber',
 'suicide%20bombing',
 'sunk',
 'survive',
 'survived',
 'survivors',
 'terrorism',
 'terrorist',
 'threat',
 'thunder',
 'thunderstorm',
 'tornado',
 'tragedy',
 'trapped',
 'trauma',
 'traumatised',
 'trouble',
 'tsunami',
 'twister',
 'typhoon',
 'upheaval',
 'violent%20storm',
 'volcano',
 'war%20zone',
 'weapon',
 'weapons',
 'whirlwind',
 'wild%20fires',
 'wildfire',
 'windstorm',
 'wounded',
 'wounds',
 'wreck',
 'wreckage',
 'wrecked']

In [10]:
new_fet1=[]
for i in range(train_data.shape[0]):
    flag=True
    for j in dis1:
        if str(j) in train_data['text'][i]:
            new_fet1.append(j)
            flag=False
            break
    if flag== True:
        new_fet1.append('missing')
len(new_fet1)

7613

In [11]:
train_data['Disaster']=new_fet1

In [12]:
train_data.drop(columns=['keyword'],axis=1,inplace=True)

In [13]:
train_data['location']=train_data['location'].fillna('missing')

In [14]:
train_data.isnull().sum()

id          0
location    0
text        0
target      0
Disaster    0
dtype: int64

In [15]:
len(train_data['location'].unique())

3342

In [16]:
train_data.isnull().sum()

id          0
location    0
text        0
target      0
Disaster    0
dtype: int64

In [17]:
train_data['text'][15]

"What's up man?"

In [18]:
col_hash=[]
count=0
for i in range(train_data.shape[0]):
    if '#' in train_data['text'][i] and train_data['target'][i]== 0:
        count+=1
print(count)

886

In [19]:
train_data["length"]=train_data["text"].apply(len)
train_data.head()

,id,location,text,target,Disaster,length
0,1,missing,Our Deeds are the Reason of this #earthquake M...,1,earthquake,69
1,4,missing,Forest fire near La Ronge Sask. Canada,1,fire,38
2,5,missing,All residents asked to 'shelter in place' are ...,1,evacuation,133
3,6,missing,"13,000 people receive #wildfires evacuation or...",1,evacuation,65
4,7,missing,Just got sent this photo from Ruby #Alaska as ...,1,fire,88

In [20]:
def count_words(x):
    return len(x.split())
train_data["num_words"] = train_data["text"].apply(count_words)
train_data.head()

,id,location,text,target,Disaster,length,num_words
0,1,missing,Our Deeds are the Reason of this #earthquake M...,1,earthquake,69,13
1,4,missing,Forest fire near La Ronge Sask. Canada,1,fire,38,7
2,5,missing,All residents asked to 'shelter in place' are ...,1,evacuation,133,22
3,6,missing,"13,000 people receive #wildfires evacuation or...",1,evacuation,65,8
4,7,missing,Just got sent this photo from Ruby #Alaska as ...,1,fire,88,16

In [22]:
train_data["message"] = train_data["Disaster"] + " " + train_data["location"] + " " + train_data["text"]
train_data.head()

,id,location,text,target,Disaster,length,num_words,message
0,1,missing,Our Deeds are the Reason of this #earthquake M...,1,earthquake,69,13,earthquake missing Our Deeds are the Reason of...
1,4,missing,Forest fire near La Ronge Sask. Canada,1,fire,38,7,fire missing Forest fire near La Ronge Sask. C...
2,5,missing,All residents asked to 'shelter in place' are ...,1,evacuation,133,22,evacuation missing All residents asked to 'she...
3,6,missing,"13,000 people receive #wildfires evacuation or...",1,evacuation,65,8,"evacuation missing 13,000 people receive #wild..."
4,7,missing,Just got sent this photo from Ruby #Alaska as ...,1,fire,88,16,fire missing Just got sent this photo from Rub...

In [109]:
train_data.corr()['target']

id           0.060781
location    -0.002401
target       1.000000
Disaster    -0.122377
length       0.181817
num_words    0.039966
Name: target, dtype: float64

In [35]:
X=train_data['message']
y=train_data['target']

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=40)

In [38]:
from sklearn.feature_extraction.text import CountVectorizer

In [39]:
cv = CountVectorizer()

cv.fit(X_train)

X_train = cv.transform(X_train)
X_test = cv.transform(X_test)

print(X_train)

  (0, 1854)	1
  (0, 3270)	1
  (0, 4264)	1
  (0, 5173)	1
  (0, 6444)	1
  (0, 8552)	1
  (0, 10687)	2
  (0, 11246)	1
  (0, 11510)	1
  (0, 13343)	1
  (0, 13552)	1
  (0, 13800)	1
  (0, 15911)	2
  (0, 16156)	1
  (0, 16175)	1
  (0, 16850)	1
  (1, 1368)	1
  (1, 3185)	1
  (1, 3864)	1
  (1, 3997)	1
  (1, 4337)	1
  (1, 4338)	1
  (1, 4978)	1
  (1, 5005)	1
  (1, 7965)	1
  :	:
  (5327, 18312)	1
  (5328, 1224)	1
  (5328, 1624)	1
  (5328, 3117)	1
  (5328, 3864)	1
  (5328, 5401)	1
  (5328, 5971)	1
  (5328, 6803)	1
  (5328, 7676)	1
  (5328, 7842)	1
  (5328, 7932)	1
  (5328, 7965)	1
  (5328, 9612)	1
  (5328, 10687)	2
  (5328, 11042)	1
  (5328, 11672)	1
  (5328, 12524)	1
  (5328, 13946)	1
  (5328, 14307)	1
  (5328, 14445)	1
  (5328, 15911)	2
  (5328, 15939)	1
  (5328, 16156)	2
  (5328, 16215)	1
  (5328, 16851)	1

In [40]:
X_train.shape

(5329, 18363)

In [41]:
y_test.shape

(2284,)

In [42]:
from sklearn.neighbors import KNeighborsClassifier

In [43]:
knn=KNeighborsClassifier(n_neighbors=15)
knn.fit(X_train,y_train)
pred1=knn.predict(X_test)

In [44]:
from sklearn.metrics import accuracy_score

In [45]:
accuracy_score(pred1,y_test)

0.6506129597197898

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [47]:
rf=RandomForestClassifier(max_depth=10,n_estimators=100)

In [48]:
rf.fit(X_train,y_train)
pred2=rf.predict(X_test)

In [49]:
accuracy_score(pred2,y_test)

0.6646234676007006

In [50]:
import xgboost as xgb

In [82]:
xg=xgb.XGBClassifier(max_depth=15,n_estimator=100,colsample_bytree=0.40,learning_rate=0.05)

In [83]:
xg.fit(X_train,y_train)

D:\Anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[11:23:27] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:541:
Parameters: { n_estimator } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[11:23:27] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.4, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.05, max_delta_step=0, max_depth=15,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimator=100, n_estimators=100, n_jobs=8, num_parallel_tree=1,
              random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
              subsample=1, tree_method='exact', validate_parameters=1,
              verbosity=None)

In [84]:
pred3=xg.predict(X_test)

In [85]:
accuracy_score(pred3,y_test)

0.7701401050788091

In [86]:
#Use LogisticRegression and also try for PolynomialFeaures and hen try with all algo

In [87]:
from sklearn.linear_model import LogisticRegression

In [88]:
lr=LogisticRegression()

In [89]:
lr.fit(X_train,y_train)
pred4=lr.predict(X_test)

D:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [90]:
accuracy_score(pred4,y_test)

0.7950963222416813

In [92]:
from sklearn.naive_bayes import MultinomialNB

nb=MultinomialNB()
nb.fit(X_train, y_train)
pred5=nb.predict(X_test)
accuracy_score(y_test,pred5)

0.7985989492119089

In [93]:
test_data=pd.read_csv("D:\\Kaggle Projects\\Disaster tweets\\test.csv")
test_data

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [94]:
test_data.isnull().sum()

id             0
keyword       26
location    1105
text           0
dtype: int64

In [95]:
new_fet2=[]
for i in range(test_data.shape[0]):
    flag=True
    for j in dis1:
        if str(j) in test_data['text'][i]:
            new_fet2.append(j)
            flag=False
            break
    if flag== True:
        new_fet2.append('missing')
len(new_fet2)

3263

In [96]:
test_data['Disaster']=new_fet2

In [67]:
test_data.drop(columns=['keyword'],axis=1,inplace=True)

In [68]:
test_data['location']=test_data['location'].fillna('missing')

In [69]:
test_data.isnull().sum()

id          0
location    0
text        0
Disaster    0
dtype: int64

In [70]:
test_data["message"] = test_data["Disaster"] + " " + test_data["location"] + " " + test_data["text"]
test_data.head()

,id,location,text,Disaster,message
0,0,missing,Just happened a terrible car crash,crash,crash missing Just happened a terrible car crash
1,2,missing,"Heard about #earthquake is different cities, s...",earthquake,earthquake missing Heard about #earthquake is ...
2,3,missing,"there is a forest fire at spot pond, geese are...",fire,fire missing there is a forest fire at spot po...
3,9,missing,Apocalypse lighting. #Spokane #wildfires,fire,fire missing Apocalypse lighting. #Spokane #wi...
4,11,missing,Typhoon Soudelor kills 28 in China and Taiwan,missing,missing missing Typhoon Soudelor kills 28 in C...

In [71]:
test1=test_data['message']
test1=cv.transform(test1)
test1

<3263x18363 sparse matrix of type '<class 'numpy.int64'>'
	with 47091 stored elements in Compressed Sparse Row format>

In [72]:
test1.shape

(3263, 18363)

In [97]:
nb_pred=nb.predict(test1)

In [98]:
# create sample submission file and submit
predict1=pd.DataFrame(nb_pred)
#sub_df1=pd.read_csv('SAMPLE.csv')
dataset1=pd.concat([test_data['id'],predict1],axis=1)
dataset1.columns=['id','target']
dataset1.to_csv('MultinomialNB1_submission.csv',index=False)